    body {
      background: linear-gradient(to bottom right, #0f2b45, #0c1824);
      color: white;
      font-family: Arial, sans-serif;
      padding-top: 80px;
    }

    nav{
        margin: 35px 5px 5px 5px;
    }

    nav a {
      color: white !important;
    }

    .navbar-brand{
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 1px;
    }

    .navbar .nav-item{
      font-size: 17px;
    }

    .navbar .nav-link.active{
      color: #003cff !important;
      font-weight: bold;      
    }

    h3{
      font-size: 40px;
      font-family: orbitron;
      margin-top: -10px;
      padding-bottom: 60px;
      padding-left: 75px;
      letter-spacing: 3px;
    }

    .header-text p{
        max-width: 750px;
        font-family: ubuntu;
        font-size: 25px;
        margin-top: 15px;
    }

    #about{
      margin-top: -40px;
      margin-bottom: 0;
    }

    .about-img{
      position: relative;
      border-radius: 20px;
    }

    .about-img img {
      width: 500px;
      height: auto;      
      margin-top: -60px; 
      margin-right: -60px;
      z-index: 2;
    }

    @media (max-width: 768px) {
      .about-img img {
        margin-top: 0;
      }
    }


    #experience{
      padding-top: -100px;
      position: relative;
      z-index: 2;
    }

    .experience, .skills, .contact {
      background-color: rgba(0, 0, 50, 0.6);
      border-radius: 20px;
      padding: 20px;
      margin: 15px 0;
    }

    .icon-box {
      text-align: center;
      background: rgba(255,255,255,0.1);
      border-radius: 15px;
      padding: 20px;
    }

    .icon-box i {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    img.profile-img {
      max-width: 250px;
      border-radius: 15px;
    }

    .modal-content{
      background-color: #0f2b45;
      color: aliceblue;
      border-radius: 15px;
      text-align: center;
    }

    .modal-header{
      border-bottom: none;
      text-align: center;
    }

    .btn-close{
      filter: invert(1);
    }

    .modal-body{
      background-color: white;
      color: #0d6efd;
      border: none;
    }

    .modal-body .btn-primary:hover {
      background-color: #f8f9fa;
      color: #0d6efd;
    }

    .gallery-card{
      background: linear-gradient(90deg, #1f1f1f, #243b55, #141e30)!important;
      height: 100%;
      display: flex;
      flex-direction: column;
      border: none;
      border-radius: 15px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }

    .gallery-card img{
      height: 250px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .gallery-card .card-body{
      flex: 1;
    }

    .gallery img{
      object-fit: cover;
      height: 250px;
      width: 100%;
    }

    .gallery-card:hover{
      transform: scale(1.05);
      box-sizing: 0 10px 25px rgba(0, 0, 0, 0.3);

    }

    #gallery h3{
      font-size: 2rem;
      margin-bottom: 40px;

    }

